$color_1: #333;
$color_2: #fff;
$color_3: #ffffff;
$color_4: #b00808;
$color_5: #dc0e0e;
$color_6: inherit;
$color_7: white;
$color_8: #eaeaea;
$font-family_1: 'Roboto', sans-serif;
$background-color_1: #000000;
$background-color_2: #292121;
$background-color_3: transparent;
$background-color_4: #212529;
$background-color_5: #ffffff;
$background-color_6: black;
$background-color_7: #1c1c1c;
$background-color_8: #1f1f1f;